.bar {
	fill: #A0C8E1;
}
.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.x path {
	display: none;
}
.toolTip {
	position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #A0C8E1;
  padding: 14px;
  text-align: center;
}



p {
	font-size:18px;
	color:#222;
}
h1 {
  font-size:2em;
  text-align:center;
  margin:20px 0 40px;
  padding:0;
}
.container {
	width:80%;
	margin:0 auto;
	overflow:auto;
	padding:2%;
}
.right-content, .left-content {
	float:left;
	display:block;
	width:50%;
	padding:1%;
}
.left-content {
	border-right:5px dotted #666;	
	text-align:right;
}
.left-content p {
	margin:150px 0 0;
}

.right-content p {
  margin-top: 80px;
  margin-bottom: 150px;
  text-align:left;
}
.container p {
-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7 ease-in-out;
-ms-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out;	
}
.left-content .more-padding {
  padding-right:100px;
}
.right-content .more-padding {
  padding-left:100px;
}
